.aboutSite{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: black;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    border: white 2px solid;
    border-radius: 15px;
    padding: 5px;
    padding-bottom: 10px;
    text-align: center;
}

.stars{
    border-radius: 15px;
    width: 1500px;
    height: 350px;
    margin-top: 20px;
    object-fit: cover;
}

.aboutText{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    /* width: 1000px; */
    margin-left: 40px;
    margin-right: 40px;

    font-size: larger;
    margin-top: 20px;
    object-fit: cover;
}

.divider{
    width: 400px;
}

@media screen and (max-width: 412px) {
    body{
    background-image: url('../../../public/images/background.jpg');
    background-size: cover;
  }

    .stars{
        width: 200px;
        height: 100px;
    }

    .divider{
        width: 200px;
    }

    .aboutText{
        font-size: medium;
    }

    .aboutTitle{
        margin-top: 5px;
        font-size: x-large;
    }
    
    .aboutSite{
        font-size: small;
    }
    
}

@media screen and (max-width: 820px) {
  body{
    background-image: url('../../../public/images/background.jpg');
    background-size: cover;
  }

    .stars{
        width: 400px;
        height: 200px;
    }
  
}