.page{
  background-color: black;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  border-radius: 15px;
  border: solid white;
  height: auto;
  width: fit-content;
}

.folders{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  text-align: left;
  width: 90%;
  font-size: larger;
  text-transform: uppercase;

}

.progress-bar {
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  height: 6px;
  margin-top: 4px;
}

.progress-fill {
  background-color: #cb1818; /* Adjust color per category if desired */
  height: 100%;
  transition: width 0.3s ease-in-out;
}

.top{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: larger;
}

.file-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  font-size: medium;
}

.file-item {
  background: #e1e1e131;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  padding: 1rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.file-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
}

.file-link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  color: white;
  text-transform: uppercase;

}

.progress-bar {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 0.5rem;
  height: 6px;
}

.progress-fill {
  background-color: #b21e1e;
  height: 100%;
  transition: width 0.3s ease;
}


.drop{
  padding-top: 10px;
  width: 20px;
}

.how-to-use{
  font-size: 1.2rem;
  color: white;
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.warning{
  height: 300px;
  width:fit-content;
  padding-left: 100px;
}

@media screen and (max-width: 820px) {
  .top{
    display: flex;
    flex-direction: column;
  }

  .warning {
    width: auto;
  }
  
}

@media screen and (max-width: 412px) {
  .page {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  .how-to-use {
    font-size: 1rem;
    padding: 5px;
  }

  .warning {
    width: 100%;
    padding-left: 0;
  }
  .folders {
    width: 100%;
  }

  .file-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding-right: 25px;
  }

  .top {
    font-size: medium;
  }
  
}